<div class="columns is-multiline">
  <% @posts.each do |post| %>
    <div class="column is-3">
      <div class="card">
         <div class="card-content">
           <p class="title"> 
             "<%= post.body %>"
           </p>
           <p class="subtitle">
              <%= post.title %>
           </p>
         </div>
         <footer class="card-footer is-2">
            <p class="card-footer-item">
                <% if logged_in? %>
                  <%= post.user.name %>
                <% else %>
                  <%= link_to "Log in to see who posted this", login_path %>
                <% end %>
            </p>
            
                <div class="card-footer-item fb-share-button" data-href="<%=posts_url%>/<%= post.id %>" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%=posts_url%>/<%= post.id %>%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            
         </footer>
     </div>
   </div>
 <% end %>
</div>