<!DOCTYPE html>
<html>
  <head>
    <title>The office gossip</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Merienda|Pacifico&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
      <p class="notification is-success" style="margin-top: 110px; margin-bottom: -100px;"><%= msg %></p>
    <% end %>
    <section class='section section-padding-large section1'>
    <%= yield %>
    </section>
  </body>
</html>
